doctype html
//if lt IE 7 
  html.ie.ie6.no-js(lang='en')  
//if IE 7 
  html.ie.ie7.no-js(lang='en')  
//if IE 8 
  html.ie.ie8.no-js(lang='en')  
//if IE 9 
  html.ie.ie9.no-js(lang='en')  
// [if gt IE 9] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Krylov Alexey Personal site
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // main style
    link(rel='stylesheet', type='text/css', media='screen', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', media='screen', href='/css/style.css')
    // background slider style
    link(rel='stylesheet', type='text/css', href='/css/slideshow.css')
    // google font style
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300', rel='stylesheet', type='text/css')
    // font-family: 'Open Sans', sans-serif;
    // font css style
    link(rel='stylesheet', href='/css/font-awesome.css')
    // for slider style
    noscript
      link(rel='stylesheet', type='text/css', href='/css/fallback.css')
    //if lt IE 9
      link(rel='stylesheet', type='text/css', href='/css/fallback.css')
  body
    // wrapper start
    #wrapper.wrapper
      header
        // banner start
        #banner.banner.row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.noPadd(style='height:100%')
            // background slide show start
            .bannerPart
              img.bannerImg(src='/images/bg.jpg', alt='')
            // background slide show end
        // banner end
        .bannerText.container
          h1 Крылов Алексей
          h2 Ruby on Rails backend разработчик
        // menu start
        .menu
          .navbar-wrapper
            .container
              .navwrapper
                .navbar.navbar-inverse.navbar-static-top
                  .container
                    .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                      a.navbar-brand(href='#') Меню
                    .navbar-collapse.collapse
                      ul.nav.navbar-nav
                        li.menuItem.active
                          a(href='#wrapper') Начало
                        li.menuItem
                          a(href='#aboutme') Обо мне
                        li.menuItem
                          a(href='#technical') Навыки
                        li.menuItem
                          a(href='#exprience') Опыт
                        li.menuItem
                          a(href='#education') Образование
                        li.menuItem
                          a(href='#protfolio') Портфолио
                        li.menuItem
                          a(href='#contact') Контакты
              // End Navbar
        // menu end
      // about me start
      section#aboutme.aboutme
        .container
          .heading
            h2 Обо мне
            //p A small introduction about my self
          .row
            .col-xs-12.col-sm-12.col-md-7.col-lg-7
              h3 Крылов Алексей
              h4.subHeading Ruby on Rails backend разработчик
              p
                | Мне 21 год, увлекаюсь программированием, велосипедным спортом, игрой на различных музыкальных инструментах.
              a.bntDownload(href='#') Загрузить резюме в PDF
            .col-xs-12.col-sm-12.col-md-4.col-lg-4.col-md-offset-1.col-lg-offset-1.proPic
              img.img-circle.topmar(src='/images/photo.jpg', alt='',width=300,height=300)
      // about me end
      // technical start
      section#technical.technical
        .container
          .heading
            h2 Технические навыки
            //p I can say i’m quite good at
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.skillsArea
              .col-xs-12.col-sm-6.col-md-6.col-lg-6.skills
                span.chart.skilBg(data-percent='80')
                  span.percent
                h4 Ruby/Rails
                p Backend
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.skillsArea
              .col-xs-12.col-sm-6.col-md-6.col-lg-6.skills
                span.chart.skilBg(data-percent='50')
                  span.percent
                h4 Javascript/CoffeeScript
                p Frontend
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.skillsArea
              .col-xs-12.col-sm-6.col-md-6.col-lg-6.skills
                span.chart.skilBg(data-percent='40')
                  span.percent
                h4 HTML & CSS
                p Frontend
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.skillsArea
              .col-xs-12.col-sm-6.col-md-6.col-lg-6.skills
                span.chart.skilBg(data-percent='65')
                  span.percent
                h4 PHP/Laravel
                p Backend
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.skillsArea
              .col-xs-12.col-sm-6.col-md-6.col-lg-6.skills
                span.chart.skilBg(data-percent='50')
                  span.percent
                h4 Rspec/TDD
                p Tests
      // technical end
      // exprience start
      section#exprience.exprience
        .container
          .heading
            h2 Опыт работы
            //p My previous associations
          .row.workDetails
            .col-xs-12.col-sm-3.col-md-2.col-lg-2
              .workYear
                | Сегодня
                br
                | Декабрь 2014
            .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
              .arrowpart
              .exCon
                h4 Farpost Design
                h5 Ruby on Rails backend разработчик
                p
                  | Разработка внутренних и коммерческих приложений на фреймворке Ruby on Rails.
          .row.workDetails
            .col-xs-12.col-sm-3.col-md-2.col-lg-2
              .workYear
                | Ноябрь 2014
                br
                | Август 2013
            .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
              .arrowpart
              .exCon
                h4 Espley Ltd.
                h5 PHP backend разработчик
                p
                  | Занимался бекенд-разработкой, больше года работал с фреймворком Laravel по внутренним проектам компании.
          .row.workDetails
            .col-xs-12.col-sm-3.col-md-2.col-lg-2
              .workYear
                | Май 2013
                br
                | Март 2013
            .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
              .arrowpart
              .exCon
                h4 Web-студия Saitex
                h5 Web-разработчик
                p
                  | Вел работы по внутренним проектам.
      // exprience end
      // education start
      section#education.education
        .container
          .heading
            h2 Образование
            //p What I have done in my academic career
          .row.workDetails
            .col-xs-12.col-sm-3.col-md-2.col-lg-2
              .workYear 
                | Июнь 2015
                //br
                //| Сентябрь 2010
            .col-xs-12.col-sm-9.col-md-10.col-lg-10.rightArea
              .arrowpart
              .exCon
                h4 Специалист по направлению "Прикладная математика и информатика"
                h5 Дальневосточный Федеральный Университет (ДВФУ)
                p
                  | Начало обучения: 2010-й год. 
      // education end
      // protfolio start
      section#protfolio.protfolio
        .container
          .heading
            h2 Портфолио
            //p showcase of my latest works
          .portfolioFilter
            ul
              li
                a.current(href='#', data-filter='*') Все
              li
                a(href='#', data-filter='.photos') Сервисы
              //li
              //  a(href='#', data-filter='.branding') Branding
              //li
              //  a(href='#', data-filter='.illustration') Illustration
          ul.portfolioContainer.row
            li.photos.col-xs-6.col-sm-4.col-md-3.col-lg-3
              .lightCon
                span.hoverBox
                  span.smallIcon
                    //a.zoom.lb.lb_warsaw1(rel='lightbox-demo', href='http://repa.su', title='Repa.su')
                    //  i.fa.fa-search.fa-2x
                    a.linKed(href='http://repa.su', title='Repa.su', target='_blank')
                      i.fa.fa-link.fa-2x
                img(src='/images/pf1.jpg', alt='')
      // protfolio end
      // contact start
      section#contact.contact
        //.container.topCon
        //  .heading
        //    h2 Get In Touch
        //    p Please feel free if you would like to have a chat.
        //.row.mapArea
        //  iframe(frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/?ie=UTF8&ll=-37.817682,144.957595&spn=0.01134,0.026157&t=m&z=16&output=embed')
      section.contactDetails
        .container
          // contact info start
          .col-xs-12.col-sm-3.col-md-4.col-lg-4
            h4 Контакты
            //p
            //  i.fa.fa-map-marker.fa-lg
            //  |  Collins Street West Victoria 8007 Australia
            p
              i.fa.fa-mobile.fa-lg
              |  +7 924-121-64-11
            p
              i.fa.fa-envelope-o
              a(href='mailto:alexey2142@mail.ru') alexey2142@mail.ru
            p
              i.fa.fa-link
              a(href='http://krylov-alexey.ru') krylov-alexey.ru
          // contact info end
          // contact form start
          .col-xs-12.col-sm-9.col-md-8.col-lg-8.conForm
            h4 Отправить сообщение
            #message
            form#cform(method='post', action='php/contact.php', name='cform')
              input#name.col-xs-12.col-sm-6.col-md-6.col-lg-6(name='name', type='text', placeholder='Ваше имя...')
              input#email.col-xs-12.col-sm-6.col-md-6.col-lg-6.noMarr(name='email', type='email', placeholder='Ваш email...')
              textarea#comments.col-xs-12.col-sm-12.col-md-12.col-lg-12(name='comments', cols='', rows='', placeholder='Ваше сообщение...')
              input#submit.submitBnt(type='submit', name='send', value='Отправить сообщение')
              #simple-msg
          // contact form end
      // contact end
      // footer start
      section#footer.footer
        .container
          ul
            li
              a(href='https://vk.com/forsaken_drummer',target='_blank')
                i.fa.fa-vk.fa-2x
            li
              a(href='http://github.com/forsaken1',target='_blank')
                i.fa.fa-github.fa-2x
            li
              a(href='https://www.linkedin.com/profile/view?id=358560657',target='_blank')
                i.fa.fa-linkedin.fa-2x
            li
              a(href='http://bitbucket.com/forsaken1',target='_blank')
                i.fa.fa-bitbucket.fa-2x
            li
              a(href='mailto:alexey2142@mail.ru')
                i.fa.fa-envelope.fa-2x
            li
              a(href='skype:alexey21422142')
                i.fa.fa-skype.fa-2x
      // footer end
    // wrapper end
    // modernizr js
    script(type='text/javascript', src='js/modernizr.custom.26633.js')
    // jquary min js
    script(type='text/javascript', src='js/jquery.min.js')
    script(src='js/bootstrap.js')
    script(type='text/javascript', src='js/jquery.gridrotator.js')
    // for custom jquary
    script(src='js/custom.js')
    // for placeholder jquary
    script(type='text/javascript', src='js/jquery.placeholder.js')
    // for menu jquary
    script(type='text/javascript', src='js/stickUp.js')
    script(type='text/javascript').
      jQuery(function($) {
      $(document).ready( function() {
      //enabling stickUp on the '.navbar-wrapper' class
      $('.navbar-wrapper').stickUp({
      parts: {
      0: 'banner',
      1: 'aboutme',
      2: 'technical',
      3: 'exprience',
      4: 'education',
      5: 'protfolio',
      6: 'contact'
      },
      itemClass: 'menuItem',
      itemHover: 'active',
      topMargin: 'auto'
      });
      });
      $( ".navbar.navbar-inverse.navbar-static-top a" ).click(function() {
      $( ".navbar-collapse" ).addClass( "hideClass" );
      });
      $( ".navbar.navbar-inverse.navbar-static-top a" ).click(function() {
      $( ".navbar-collapse" ).addClass( "collapse" );
      });
      $( ".navbar.navbar-inverse.navbar-static-top a" ).click(function() {
      $( ".navbar-collapse" ).removeClass( "in" );
      });
      $( ".navbar-toggle" ).click(function() {
      $( ".navbar-collapse" ).removeClass( "hideClass" );
      });
      });
    // for portfoli filter jquary
    script(src='js/jquery.isotope.js', type='text/javascript')
    // for portfoli lightbox
    link#theme(type='text/css', rel='stylesheet', href='css/jquery-ui-1.8.16.custom.css')
    link(type='text/css', rel='stylesheet', href='css/lightbox.min.css')
    script(type='text/javascript', src='js/jquery.ui.widget.min.js')
    script(type='text/javascript', src='js/jquery.ui.rlightbox.js')
    // for skill chat jquary
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.easypiechart.js')
    // contact form js
    script(type='text/javascript', src='js/jquery.contact.js')
